.dropdown-menu .dropdown-headerNombreUsuario {

    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: rgba(64, 71, 92, 0.5);
}

.dropdown-menu .dropdown-headerEdison {
    display: block; /* Hace que el span se comporte como un bloque */
    font-size: 12px;
    color: #0082ca;
    text-align: center; 
}

.dropdown-menu .dropdown-headerTipoUsuario {
    display: block; /* Hace que el span se comporte como un bloque */
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center; /* Centra el texto dentro del span */
    color: #525252;
}


.dropdown-menu.large-items-menu .dropdown-headerEdison {
    padding: 10px 30px;
}
/* Your Custom CSS Goes here */

.app-card {
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    width: 150px;
    height: 150px;
}

.app-card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* Estilos para el botón de detalles de DataTables */
table.dataTable.dtr-inline.collapsed>tbody>tr>td.dt-control,
table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control {
    text-align: center;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dt-control .dt-control-icon,
table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control .dt-control-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    background-color: #198754; /* verde */
    color: #fff;
    font-weight: 700;
    font-family: "Courier New", Courier, monospace;
    line-height: 1;
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td.dt-control .dt-control-icon,
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td.dtr-control .dt-control-icon {
    background-color: #dc3545; /* rojo */
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dt-control .dt-control-icon::before,
table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control .dt-control-icon::before {
    content: '+';
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td.dt-control .dt-control-icon::before,
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td.dtr-control .dt-control-icon::before {
    content: '\2212';
}
